body {
  margin: 0;
  padding: 0;
}

.App {
  width: 95vw;
  height: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-nav {
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#logo {
  height: 40px;
  width: fit;
}

.Buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.Buttons button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}

.Detection {
  margin-top: 1.2rem;
  width: 200px;
  height: 600px;
  display: flex;
  flex-direction: column; /* Allow vertical growth */
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Makes .Detection grow vertically */
}

.Detection img {
  border-radius: 0.5em;
  width: 370px;
  max-width: 550px;
  height: 100%;
}

.ErrorModal {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ErrorModal h2 {
  width: 100%;
}
